@mixin option-button {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    color: $color-button-font;
    background-color: $color-button-bg;
    outline: none;
    border-radius: 5px;
    border: 1px solid $color-button-border;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    &:hover {
        background-color: $color-button-hover;
        cursor: pointer;
    }

    &:active {
        background-color: $color-button-active;
    }
}

@mixin option-input {
    box-sizing: content-box;
    height: 25px;
    width: 30px;
    text-align: center;
    outline: none;
    border: none;
    box-shadow: 0 0 0 1px $color-button-border inset, 0 1px 1px $color-white;
}

@mixin option-checkbox {
    display: none;

    &:checked ~ label {
        background-color: $color-button-active;
    }
}

@mixin visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
}

@mixin insetshadow {
    color: #202020;
    letter-spacing: .1em;
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
}

@mixin glow-text {
    background: 50% 100% / 50% 50% no-repeat
                radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 50px;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms,
                glow 2500ms linear infinite 2000ms;
    
    @keyframes reveal {
        80%{
            letter-spacing: 8px;
        }
        100% {
            background-size: 300% 300%;
        }
    }
    @keyframes glow {
        40% {
            text-shadow: 0 0 8px #fff;
        }
    }
}
