.header,
.main {
    &.entered {
        animation: fadeIn 500ms forwards;
    }
      
    &.exiting {
        animation: fadeOut 500ms forwards;
    }
      
    &.exited {
        animation: fadeOut 500ms forwards;
    }  
}

.transform {
    &.entering {
        display: none;
    }
      
    &.entered {
        display: block;
        animation: fadeIn 200ms forwards;
    }
      
    &.exiting {
        display: none;
    }  
}

.template-panel__menu {
    &.entering {
        display: block;
        animation: panel-open 500ms forwards;
    }
      
    &.entered {
        display: block;
    }
      
    &.exiting {
        display: block;
        animation: panel-close 500ms forwards;
    }

    &.entering ~.template-panel__button-hide,
    &.entered ~.template-panel__button-hide {
        border-radius: 0 10px 10px 0;
        background-image: url('./../img/icon-close.svg');
        background-size: 12px;
    }

    @media (max-width: $tablet - 1px) {
        &.entering {
            display: block;
            animation: panel-open-height 500ms forwards;
        }

        &.exiting {
            display: block;
            animation: panel-close-height 500ms forwards;
        }
    }
}


.template-panel__block {

   &.entered {
        display: flex;
        animation: fadeInBlock 300ms forwards;
    }
}

.cv__block,
.cv__login {

    &.entering {
        display: none;
    }
        
    &.entered {
        
        animation: fadeIn 300ms forwards;
    }
        
    &.exiting {
        animation: fadeOut 500ms forwards;
    }  
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
        
@keyframes panel-open {
    0% {
        opacity: 0;
        width: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        width: 300px;
    }
}

@keyframes panel-open-height {
    0% {
        opacity: 0;
        max-height: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        max-height: none;
    }
}

@keyframes panel-close {
    0% {
        opacity: 1;
        width: 300px;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}

@keyframes panel-close-height {
    0% {
        opacity: 1;
        max-height: none;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        max-height: 0;
    }
}

@keyframes fadeInBlock {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
}