body {
    /*font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-style: italic;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0;*/
    background-color: lightblue;
    padding: 0;
    border: 0;
    margin: 0;
}

html {
    min-height: 100%;
}

#app {
    min-height: 100%;
    background-color: #282c34;
    margin: 0;
    padding: 0;
    border: 0;
}
