@mixin option-button {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    color: $color-button-font;
    background-color: $color-button-bg;
    outline: none;
    border-radius: 5px;
    border: 1px solid $color-button-border;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    &:hover {
        background-color: $color-button-hover;
        cursor: pointer;
    }

    &:active {
        background-color: $color-button-active;
    }
}

@mixin option-input {
    box-sizing: content-box;
    width: 35px;
    text-align: center;
    outline: none;
    box-shadow: 0 0 0 1px $color-button-border inset, 0 1px 1px $color-white;
}

@mixin option-checkbox {
    display: none;

    &:checked ~ label {
        background-color: $color-button-active;
    }

    & ~ label {
        @include option-button;
        box-sizing: content-box;
        background-size: 72%;
    }
}


@mixin visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
}
