$color-bg-header: #3196b4;
//$color-bg-options: rgba($color-bg-header,0.2);
$color-bg: #cae6ee;

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #222222;

$color-button-bg: #f4fafa;
$color-button-border: #8e9fa0;
$color-button-font: #0a1611;
$color-button-hover: #89cbdd;
$color-button-active: #3196b4;

$color-block-hover: lightslategray;
$color-block-active: #204e7c;

$color-transform: #365a7e;

$color-option-border: #738f8f;
$color-tooltip: #b8cdd3;

$color-panel-bg: #293039;
$color-panel-border: #5e5f61;
