.cv-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow-y: scroll; 
    height: calc(100vh - 150px);
    padding-top: 10px;
    padding-bottom: 50px;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.cv-view {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow-y: scroll; 
    height: 100vh;
    background-color: $color-white;
    padding: 0;

    &::-webkit-scrollbar {
        width: 0;
    }

    .cv__block:hover {
        outline: none;
        cursor: default;
    }
}

.cv {
    width: 210mm;
    height: 297mm;
    background-color: $color-white;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba($color-black, 0.25), 0 10px 10px rgba($color-black, 0.22);

    &__block {
        display: flex;
        flex-direction: column;
        position: absolute;
        box-sizing: border-box;
        overflow: hidden;
        
        &:hover {
            outline: 1px solid $color-block-hover;
            //z-index: 10;
            cursor: pointer;
        }
        
        &--active {
            z-index: 15;
            outline: 2px solid $color-block-active;
            &:hover {
                outline: 2px solid $color-block-active;
            }
        }

        &--active-first {
            outline-width : 3px;
            &:hover {
                outline-width: 3px;
            }
        }

        &--lock {
            &:hover {
                z-index: 0;
            }
        }
    }

    &__element {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid transparent;

        &--text {
            //border: 1px solid transparent;
        }

        &--active {
            border-color: $color-block-hover;
        }

        &--image {
            width: 100%;
            height: auto;
        }

        &--dots-row {
            margin-left: 5px;
            width: auto;
            display: flex;
            align-items: center;
        }

        &--progress {
            min-height: 10px;
            display: flex;
            margin-left: auto;
        }

        &--group {
            display: flex;
            flex-direction: column;

            .cv__element {
                height: auto;
            }
            
            &-row {
                flex-direction: row;
                align-items: center;
            }

            &-absolute {
                position: relative;
            }
        }

        &--link {
            cursor: pointer;
        }
    }

    &__transform {
        position: absolute;
        outline: 3px solid $color-transform;
        z-index: 5;

        & ~ .cv > .cv__block--active {
            outline: none;
            border: none;
            &:hover {
                outline: none;
                border: none;
            }
        }

        &--locked::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: none;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            background-image: url('./../../img/icon-locked.svg');

        }
    }

    &__transform-button {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: none;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        
        &--delete {
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            background-image: url('./../../img/icon-delete.svg');
        }

        &--move {
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            background-image: url('./../../img/icon-move.svg');
        }

        &--resize {
            bottom: 0;
            right: 0;
            transform: translate(50%, 50%) rotate(-45deg);
            background-image: url('./../../img/icon-resize.svg');
        }

        &:hover {
           width: 22px;
           height: 22px;
           cursor: pointer;
        }
    }
}
