.options {
    position: absolute;
    text-align: center;
    min-height: 45px;
    background-color: $color-white;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-option-border;

    &__elem {
        margin-left: 10px;
        display: flex;
        position: relative;
    }

    &__block {
        display: flex;
        margin-left: auto;
        margin-right: 10px;
    }

    input[type=color]::-webkit-color-swatch-wrapper {
        padding: 0;
        border-radius: 2px;    
    }
      
    input[type=color]::-webkit-color-swatch {
        border: none;
        border-radius: 2px;
    }
    
    input[type=color]::-moz-focus-inner {
        border: none;
        padding: 0;
        border-radius: 2px;
    }
    
    input[type=color]::-moz-color-swatch {
        border: none;
        border-radius: 2px;
    }
}

.option {
    margin: 0;
    padding: 0;
    border: none;

    &__tooltip {
        position: absolute;
        background-color: $color-tooltip;
        padding: 2px 5px;
        border-radius: 5px;
        top: calc(100% + 5px);
        left: 50%;
        z-index: 10;
        transform: translateX(-50%);

        &::after {
            content: "";
            position: absolute;
            border: 7px solid $color-tooltip;
            border-color: transparent transparent $color-tooltip transparent;
            top: 0;
            left:50%;
            transform: translate(-50%,-80%);
        }
    }

    &__button {
        @include option-button;

        &--left {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
        }

        &--right {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
        }
    }

    &__number {
        @include option-input;
    }

    &__checkbox {
        @include option-checkbox;

        &--bold {
            & ~ label,
            &:hover ~ label {
                background-image: url('./../../img/icon-font-bold.svg');   
            }
        }

        &--italic {
            & ~ label,
            &:hover ~ label {
                background-image: url('./../../img/icon-font-italic.svg');   
            }
        }

        &--center {
            & ~ label,
            &:hover ~ label {
                background-image: url('./../../img/icon-font-center.svg');   
            }
        }

        &--uppercase {
            & ~ label,
            &:hover ~ label {
                background-image: url('./../../img/icon-font-capital.svg');   
            }
        }
    }
    
    &__color {
        @include option-button;
        padding: 2px;
        width: 21px;
        height: 21px;

        &:hover {
            background: none;
            background-color: $color-button-active;
        }

        &:active {
            background: none;
            background-color: $color-button-active;
        }
    }

    &__file {
        @include option-checkbox;

        & ~ label {
            @include option-button;
            width: auto;
            display:flex;
            justify-content: center;
            align-items: center;
            padding: 0 4px;
            
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__back {
        @include option-button;
        background-image: url('./../../img/icon-back.svg');
        background-size: 100%;
    }

    &__copy {
        @include option-button;
        background-image: url('./../../img/icon-copy.svg');
        background-size: 100%;
    }

    &__autosize {
        @include option-button;
        background-image: url('./../../img/icon-size-auto.svg');
    }

    &__align-top {
        @include option-button;
        background-image: url('./../../img/icon-align-top.svg');
    }

    &__align-bottom {
        @include option-button;
        background-image: url('./../../img/icon-align-bottom.svg');
    }

    &__align-left {
        @include option-button;
        background-image: url('./../../img/icon-align-left.svg');
    }

    &__align-right {
        @include option-button;
        background-image: url('./../../img/icon-align-right.svg');
    }

    &__align-vertical {
        @include option-button;
        background-image: url('./../../img/icon-align-vertical.svg');
    }

    &__align-horisontal {
        @include option-button;
        background-image: url('./../../img/icon-align-horisontal.svg');
    }

    &__distribute-vertical {
        @include option-button;
        background-image: url('./../../img/icon-distribute-vertical.svg');
    }

    &__distribute-horisontal {
        @include option-button;
        background-image: url('./../../img/icon-distribute-horisontal.svg');
    }

    &__align-width {
        @include option-button;
        background-image: url('./../../img/icon-align-width.svg');
    }

    &__align-height {
        @include option-button;
        background-image: url('./../../img/icon-align-height.svg');
    }

    &__group {
        @include option-button;
        background-image: url('./../../img/icon-group.svg');
    }

    &__ungroup {
        @include option-button;
        background-image: url('./../../img/icon-ungroup.svg');
    }
}
