.option {
    display: flex;
    margin: 0 5px;
    padding: 0;

    input[type=color]::-webkit-color-swatch-wrapper {
        padding: 0;
        border-radius: 2px;    
    }
      
    input[type=color]::-webkit-color-swatch {
        border: none;
        border-radius: 2px;
    }
    
    input[type=color]::-moz-focus-inner {
        border: none;
        padding: 0;
        border-radius: 2px;
    }
    
    input[type=color]::-moz-color-swatch {
        border: none;
        border-radius: 2px;
    }

    &__button {
        @include option-button;

        &--left {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
        }

        &--right {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
        }

        &--back {
            
            background-image: url('./../../img/icon-back.svg');
            background-size: 100%;
        }
    
        &--copy {
            background-image: url('./../../img/icon-copy.svg');
            background-size: 100%;
        }
    
        &--autosize {
            background-image: url('./../../img/icon-size-auto.svg');
        }
    
        &--align_top {
            background-image: url('./../../img/icon-align-top.svg');
        }
    
        &--align_bottom {
            background-image: url('./../../img/icon-align-bottom.svg');
        }
    
        &--align_left {
            background-image: url('./../../img/icon-align-left.svg');
        }
    
        &--align_right {
            background-image: url('./../../img/icon-align-right.svg');
        }
    
        &--align_vertical {
            background-image: url('./../../img/icon-align-vertical.svg');
        }
    
        &--align_horisontal {
            background-image: url('./../../img/icon-align-horisontal.svg');
        }
    
        &--distribute_vertical {
            background-image: url('./../../img/icon-distribute-vertical.svg');
        }
    
        &--distribute_horisontal {
            background-image: url('./../../img/icon-distribute-horisontal.svg');
        }
    
        &--align_width {
            background-image: url('./../../img/icon-align-width.svg');
        }
    
        &--align_height {
            background-image: url('./../../img/icon-align-height.svg');
        }
    
        &--group {
            background-image: url('./../../img/icon-group.svg');
        }
    
        &--ungroup {
            background-image: url('./../../img/icon-ungroup.svg');
        }
    }

    &__number {
        @include option-input;
    }

    &__checkbox {
        @include option-checkbox;

        &--bold {
            & ~ label,
            &:hover ~ label {
                background-image: url('./../../img/icon-font-bold.svg');   
            }
        }

        &--italic {
            & ~ label,
            &:hover ~ label {
                background-image: url('./../../img/icon-font-italic.svg');   
            }
        }

        &--center {
            & ~ label,
            &:hover ~ label {
                background-image: url('./../../img/icon-font-center.svg');   
            }
        }

        &--uppercase {
            & ~ label,
            &:hover ~ label {
                background-image: url('./../../img/icon-font-capital.svg');   
            }
        }

        &--lock {
            & ~ label,
            &:hover ~ label {
                background-image: url('./../../img/icon-lock.svg');   
            }

            &:checked ~ label {
                background-image: url('./../../img/icon-unlock.svg');  
            }
        }
    }
    
    &__color {
        @include option-button;
        padding: 2px;
        width: 21px;
        height: 21px;

        &:hover {
            background: none;
            background-color: $color-button-active;
        }

        &:active {
            background: none;
            background-color: $color-button-active;
        }
    }

    &__file {
        @include option-checkbox;

        & ~ label {
            @include option-button;
            width: auto;
            display:flex;
            justify-content: center;
            align-items: center;
            padding: 0 4px;
            
            &:hover {
                cursor: pointer;
            }
        }
    }
}
