.panel {
    position: relative;
    background-color: $color-panel-bg;
    min-width: 20px;
    height: 100vh;
    display: flex;
    z-index: 10;
    //overflow-y: auto;
    //overflow-x: visible;

    &__menu {
        width: 250px;
    //    min-width: 300px;
    }

    &__group {

        &-name {
            transition: all 0.3s;
            position: relative;
            box-sizing: border-box;
            min-height: 45px;
            padding: 10px;
            color: $color-white;
            font-size: 20px;
            outline: none;
            background-color: $color-panel-bg;
            border-bottom: 1px solid $color-panel-border;
            text-shadow: 1px 1px 2px #666;
            
            &::after {
                content: '';
                position: absolute;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                background-image: url('./../../img/icon-open.svg');
                background-repeat: no-repeat;
                background-size: 26px;
                right: 14px;
                top: 8px;
            }
    
            &:hover {
                cursor: pointer;
                &::after {
                    box-shadow:
                    inset 0 1px 3px rgba(0,10,20,.5),
                    0 1px rgb(83,94,104),
                    0 0 1px rgb(86,96,106);
                }
            }
    
            &--active::after {
                transform: rotate(180deg);
            }
        }
    }

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        background-color: $color-white;
        border-bottom: 1px solid $color-panel-border;
        
        &:hover,
        &:focus,
        &:active {
            outline: none;
            cursor: default;
        }
    }

    &__block-add {
        transition: all 0.3s;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        outline: none;
        border: 1px solid $color-panel-border;
        border-radius: 50%;
        background-image: url('./../../img/icon-add.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;

        &:hover {
            box-shadow:
                inset 0 1px 3px rgba(0,10,20,.5),
                0 1px rgb(83,94,104),
                0 0 1px rgb(86,96,106);
            cursor: pointer;
        }

        &:active {
            border: 1px solid rgb(22,32,43);
            border-bottom: 1px solid rgb(25,34,45);
            box-shadow:
                inset 0 1px 3px rgba(0,10,20,.5),
                0 1px rgb(83,94,104),
                0 0 1px rgb(86,96,106);
        }
    }

    &__block-view {
        display: flex;
        flex-direction: column;
        padding: 6px;
        box-sizing: border-box;
        overflow: hidden;

        .cv__element {
            //position: relative;
        }

        .cv__element--image,
        .cv__element--figure {
            height: 50px;
            width: 50px;
        }
    }

    &__button-hide {
        position: absolute;
        height: 100px;
        padding: 0;
        background-color: transparent;
        right: 0;
        top: 50%;
        transform: translate(100%,-50%);
        z-index: 10;
        border-right: transparent;
        border-left: 20px solid $color-panel-bg;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;

        &:hover,
        &:focus,
        &:active {
            outline: none;
            cursor: pointer;
        }
    }
}
