.header {
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: $color-white;
    font-size: 24px;
    padding: 5px 0 5px 10px;
    z-index: 1;
    background-color: $color-bg-header;

    &__logo {
        display: flex;
        align-items: center;
        padding-left: 40px;
        background-image: url('./../../img/logo.svg');
        background-repeat: no-repeat;
        background-position: 5px;
        background-size: 30px;
        margin-right: auto;
    }

    &__menu {
        display: flex;
        align-items: center;
    }

    &__menu-item {
        position: relative;
        margin-right: 10px;
    }

    &__button {
        transition: all 0.2s;
        position: relative;
        display: flex;
        align-items: center;
        box-sizing: content-box;
        font-size: 14px;
        outline: none;
        border: none;
        height: 36px;
        color: $color-gray;
        background-color: rgba($color-white,0.5);
        border-radius: 30px;
        padding: 0 10px 0 40px;
        box-shadow: 1px 2px 5px #666;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }

        &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            left: 3px;
            top: 50%;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 32px 32px;
            transform: translateY(-50%);
        }

        &--save::before {
            background-image: url('./../../img/icon-save.svg');
        }

        &--load::before {
            background-image: url('./../../img/icon-download.svg');
        }

        &--show::before {
            background-image: url('./../../img/icon-show.svg');
        }

        &--edit::before {
            background-image: url('./../../img/icon-edit.svg');
        }

        &--print::before {
            background-image: url('./../../img/icon-print.svg');
        }

        &--link-update::before {
            background-image: url('./../../img/icon-link-update.svg');
        }

        &--link-create::before {
            background-image: url('./../../img/icon-link-create.svg');
        }

        &--settings {
            padding: 0 18px;
            &::before {
                background-image: url('./../../img/icon-setting.svg');
            }
        }

        &--logout {
            padding: 0 18px;
            &::before {
                background-image: url('./../../img/icon-logout.svg');
            }
        }

    }

    &__print {
        transition: all 0.7s;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba($color-bg-header,0.5);
        z-index: 1;
        top: 10px;
        left: -210px;
        width: 200px;
        border-radius: 25px;
        padding: 10px 20px;

        span {
            margin-bottom: 10px;
            text-align: center;
        }

        &:hover {
            left: 10px;
        }
    }

    @media (max-width: $tablet - 1px) {
        padding-left: 5px;
        z-index: 10;

        &__logo {
            font-size: 14px;
        }

        &__menu {
            position: absolute;
            width: 100%;
            right: 0;
            top: 100%;
            transform: none;
            flex-direction: column;
            display: none;

            &--show {
                animation: fadeIn 500ms forwards;
                display: flex;
            }
        }

        &__menu-item {
            width: 100%;
            background-color: rgba($color-white,0.9);
            border-bottom: 1px solid #666;
            transition: all 1s;
            display: flex;
            margin: 0;
            padding: 3px;
        }

        &__button {
            margin-left: auto;
            background-color: transparent;
            border-radius: 0;
            padding: 0 50px;
            box-shadow: none;
            
            &::before {
                right: 10px;
                left: inherit;
            }

            &:hover,
            &:focus {
                transform: none;
                margin-right: 5px;
            }

            &--menu {
                padding: 0;
                width: 30px;
                height: 30px;
                background-color: transparent;
                background-image: url('./../../img/icon-menu.svg');
                background-repeat: no-repeat;
                background-size: 100%;
                border: none;

                &::before {
                    display: none;
                }

                &:hover,
                &:focus {
                    transform: scale(1.1);
                }
            }
        }
    }
}