.option {
    position: relative;
    display: flex;
    margin: 0 5px;
    padding: 0;

    input[type=color]::-webkit-color-swatch-wrapper {
        padding: 0;
        border-radius: 2px;    
    }
      
    input[type=color]::-webkit-color-swatch {
        border: none;
        border-radius: 2px;
    }
    
    input[type=color]::-moz-focus-inner {
        border: none;
        padding: 0;
        border-radius: 2px;
    }
    
    input[type=color]::-moz-color-swatch {
        border: none;
        border-radius: 2px;
    }

    &__button {
        @include option-button;

        &--left {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
        }

        &--right {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
        }

        &--back {
            background-image: url('./../../img/icon-back.svg');
            background-size: 100%;
        }
    
        &--copy {
            background-image: url('./../../img/icon-copy.svg');
            background-size: 100%;
        }
    
        &--autosize {
            background-image: url('./../../img/icon-size-auto.svg');
        }
    
        &--align_top {
            background-image: url('./../../img/icon-align-top.svg');
        }
    
        &--align_bottom {
            background-image: url('./../../img/icon-align-bottom.svg');
        }
    
        &--align_left {
            background-image: url('./../../img/icon-align-left.svg');
        }
    
        &--align_right {
            background-image: url('./../../img/icon-align-right.svg');
        }
    
        &--align_vertical {
            background-image: url('./../../img/icon-align-vertical.svg');
        }
    
        &--align_horisontal {
            background-image: url('./../../img/icon-align-horisontal.svg');
        }
    
        &--distribute_vertical {
            background-image: url('./../../img/icon-distribute-vertical.svg');
        }
    
        &--distribute_horisontal {
            background-image: url('./../../img/icon-distribute-horisontal.svg');
        }
    
        &--align_width {
            background-image: url('./../../img/icon-align-width.svg');
        }
    
        &--align_height {
            background-image: url('./../../img/icon-align-height.svg');
        }
    
        &--group {
            background-image: url('./../../img/icon-group.svg');
        }
    
        &--ungroup {
            background-image: url('./../../img/icon-ungroup.svg');
        }

        &--opacity {
            background-image: url('./../../img/icon-opacity.svg');   
        }

        &--progress {
            background-image: url('./../../img/icon-progress.svg');   
        }

        &--link {
            background-image: url('./../../img/icon-link.svg');
        }

        &--ok {
            background-image: url('./../../img/icon-ok.svg'); 
        }

        &--padding {
            background-image: url('./../../img/icon-padding.svg'); 
        }
    }

    &__drop-down {
        display: none;
        position: absolute;
        background-color: $color-white;
        border-radius: 5px;
        border: 1px solid $color-button-border;
        padding: 10px;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;

        &--show {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__drop-down-line {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 3px 0;

        span {
            text-transform: capitalize;
            padding-right: 10px;
            margin-right: auto;
        }
    }

    &__link {
        @include option-input;
        width: 150px;
        margin: 0 5px;
    }

    &__number {
        @include option-input;
    }

    &__checkbox {
        @include option-checkbox;

        &--bold {
            & ~ label,
            &:hover ~ label {
                background-image: url('./../../img/icon-font-bold.svg');   
            }
        }

        &--italic {
            & ~ label,
            &:hover ~ label {
                background-image: url('./../../img/icon-font-italic.svg');   
            }
        }

        &--center {
            & ~ label,
            &:hover ~ label {
                background-image: url('./../../img/icon-font-center.svg');   
            }
        }

        &--uppercase {
            & ~ label,
            &:hover ~ label {
                background-image: url('./../../img/icon-font-capital.svg');   
            }
        }

        &--underline {
            & ~ label,
            &:hover ~ label {
                background-image: url('./../../img/icon-font-underline.svg');   
            }
        }

        &--lock {
            & ~ label,
            &:hover ~ label {
                background-image: url('./../../img/icon-lock.svg');   
            }

            &:checked ~ label {
                background-image: url('./../../img/icon-unlock.svg');  
            }
        }
    }
    
    &__color {
        @include option-button;
        padding: 2px;
        width: 21px;
        height: 21px;

        &:hover {
            background: none;
            background-color: $color-button-active;
        }

        &:active {
            background: none;
            background-color: $color-button-active;
        }
    }

    &__file {
        @include option-checkbox;
    }

    &__label {
        @include option-button;
        display:flex;
        justify-content: center;
        align-items: center;
        background-size: 72%;
        
        &:hover {
            cursor: pointer;
        }

        &--file {
            font-weight: normal;
            width: auto;
            padding: 0 4px;
        }
    }

    &__tooltip {
        font-size: 14px;
        white-space: nowrap;
        //line-height: 14px;
        width: auto;
        text-align: center;
        position: absolute;
        background-color: $color-tooltip;
        //width: 75px;
        padding: 2px 5px;
        border-radius: 5px;
        top: calc(100% + 10px);
        left: 50%;
        z-index: 100;
        transform: translateX(-50%);

        &::after {
            content: "";
            position: absolute;
            border: 7px solid $color-tooltip;
            border-color: transparent transparent $color-tooltip transparent;
            top: 0;
            left:50%;
            transform: translate(-50%,-80%);
        }
    }

    &__select {
        @include option-input;
        width: 100px;
        //font-weight: normal;
        border-radius: 5px;
        outline: none;
        //border: 1px solid $color-button-border;
    }
}
