.option-panel {
    position: relative;
    box-sizing: border-box;
    background-color: $color-bg;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    &__group {
        display: flex;
        position: relative;
        padding: 5px 0;
        border-radius: 5px;
        margin: 5px 15px;
        border: 1px solid $color-option-border;
    }
}
