.template-panel {
    position: relative;
    background-color: $color-panel-bg;
    min-width: 10px;
    height: 100vh;
    display: flex;
    z-index: 10;

    &__menu {
        width: 300px;
        display: none;
        overflow-y: scroll;
        padding-bottom: 50px;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    &__group {

        &-name {
            transition: all 0.3s;
            position: relative;
            box-sizing: border-box;
            min-height: 45px;
            padding: 10px;
            color: $color-white;
            font-size: 20px;
            outline: none;
            background-color: $color-panel-bg;
            border-bottom: 1px solid $color-panel-border;
            text-shadow: 1px 1px 2px #666;
            
            &::after {
                content: '';
                position: absolute;
                width: 25px;
                height: 25px;
                padding: 0;
                outline: none;
                border: none;
                background-color: transparent;
                background-image: url('./../../img/icon-open.svg');
                background-repeat: no-repeat;
                background-size: 100%;
                right: 14px;
                top: 8px;
            }
    
            &:hover {
                cursor: pointer;
                &::after {
                    animation: arrow-open 1s linear infinite;
                    cursor: pointer;
                }
            }
    
            &--active::after {
                transform: rotate(180deg);
            }
        }

        &--user {
            .template-panel__block-view {
                padding: 12px 6px;
                .cv__element {
                    width: auto;
                }
            }
        }
    }

    &__block {
        position: relative;
        display: none;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        margin: 5px;
        background-color: $color-white;
        border-bottom: 1px solid $color-panel-border;
        
        &:hover,
        &:focus,
        &:active {
            outline: none;
            cursor: default;
        }
    }

    &__block-add {
        transition: all 0.3s;
        width: 25px;
        height: 25px;
        margin-right: 5px;
        padding: 0;
        outline: none;
        border: none;
        background-color: transparent;
        background-image: url('./../../img/icon-add.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;

        &:hover {
            animation: arrow-add 1s linear infinite;
            cursor: pointer;
        }
    }

    &__block-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 6px;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        min-height: 50px;

        ul {
            list-style: disc;
        }

        .cv__element--image,
        .cv__element--figure {
            height: 50px;
            width: 50px;
        }

        .cv__element--progress {
            height: 10px;
            min-width: 100px;
            width: 100%;
        }

        .cv__element {
           white-space: normal;
        }
    }

    &__button-hide {
        transition: background-image 0.5s;
        position: absolute;
        height: 45px;
        width: 25px;
        padding: 0;
        background-color: $color-panel-bg;
        border-radius: 0 10px 10px 0;
        background-image: url('./../../img/icon-template.svg');
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: center;
        right: 0;
        top: 0;
        transform: translateX(100%);
        z-index: 10;
        border: 1px solid $color-panel-border;

        &:hover,
        &:focus,
        &:active {
            outline: none;
            cursor: pointer;
        }
    }

    &__button-delete {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: none;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        top: -1.5px;
        left: -1.5px;
        background-image: url('./../../img/icon-delete.svg');

        &:hover,
        &:focus {
            outline: none;
            transform: scale(1.2);
            cursor: pointer;
        }
    }

    @media (max-width: $tablet - 1px) {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: auto;
        min-height: 5px;

        &__menu {
            padding: 0;
            width: 100%;
        }

        &__group-name  {
            padding: 8px;
            min-height: 40px;
            font-size: 16px;
        }

        &__button-hide {
            width: 30px;
            height: 35px;
            top: 100%;
            left: 0;
            transform: rotate(90deg) translateX(-3px) translateY(-2px);
        }
    }
}

@keyframes arrow-add {
    0% {
        background-position: center;
    }
    50% {
        background-position: 3px;
    }
    100% {
        background-position: center;
    }
}

@keyframes arrow-open {
    0% {
        background-position-y: center;
    }
    50% {
        background-position-y: 3px;
    }
    100% {
        background-position-y: center;
    }
}

